@model ShoeStoreProject.ViewModel.LoginViewModel
<link href="~/Contents/StyleLogin.css" rel="stylesheet" />

<section class="app forms">
    <div class="form login">
        <div class="form-content">
            <header>Login</header>

            @using (Html.BeginForm("Login", "Login", FormMethod.Post))
            {
                @Html.AntiForgeryToken()
        <div class="field input-field">
            <input type="text" placeholder="Email" class="input" name="Username" id="email">
            <span id="emailSigError" class="error" style="color: red;
            padding: 10px 0;"></span><br>
        </div>
        <div class="field input-field">
            <input type="password" placeholder="Password" class="input" name="Password" id="email">
            <span id="emailSigError" class="error" style="color: red;
            padding: 10px 0;"></span><br>
        </div>

                <div class="field button-field">
                    <input type="submit" id="submit" value="Login">
                </div>
            }


            <div class="from-link">
                <span>Do have an account?<a href="@Url.Action("Register","Login")" class="sigup-link">Signup</a></span>
            </div>

        </div>
        <div class="line"></div>
        <div class="media-option">
            <a href="" class="field facebook">
                <ion-icon name="logo-facebook"></ion-icon>
                <span>Login with facebook</span>
            </a>
            <a href="" class="field google">
                <ion-icon name="logo-google"></ion-icon>
                <span>Login with google</span>
            </a>
        </div>

    </div>
</section>