
@{
    ViewBag.Title = "Contact";
    Layout = "~/Views/NewFolder1/Error.cshtml";
}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <p>Địa chỉ liên hệ: <strongs style="color: #425ddb"> Đại Học Đồng Tháp</strongs></p>
    <p style="color: #08115e">Phường 6, Thành Phố Cao Lãnh, tỉnh Đồng Tháp</p>
    <iframe style="display: flex; margin-left: 200px; justify-content: center; align-items: center;" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3924.0232398470657!2d105.64124277451312!3d10.419728765672847!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x310a64d83b2792df%3A0x17bca5e601420f5a!2zVHLGsOG7nW5nIMSQ4bqhaSBo4buNYyDEkOG7k25nIFRow6Fw!5e0!3m2!1svi!2s!4v1722726805274!5m2!1svi!2s" width="700" height="350" ;style=" border: 1px solid #9df7f6;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade; "></iframe>
</body>

