
@{
    ViewBag.Title = "BagCart";
    Layout = "~/Views/NewFolder1/_LayoutCreateCus.cshtml";
}

<h2>BagCart</h2>

<span style="color:white; margin-left: -10px " class="badge">@ViewBag.QuantityCart</span>
