
@{
    ViewBag.Title = "Shopping_Success";
    Layout = "~/Views/NewFolder1/_LayoutCreateCus.cshtml";
}

<h2>Shopping_Success</h2>

<body style="text-align: center">
    <h2>Đơn hàng của quý khách đã đặt thành công</h2>

    <h4>Đơn hàng sẽ giao từ 3 - 4 ngày. Cảm ơn và hẹn gặp lại quý khách.</h4>

    <a class="btn btn-success" href="@Url.Action("Index", "Home")"></a>
    @*<a class="btn btn-outline-success" href="@Url.Action("Index", "QLGiay")>Tiếp tục mua hàng...</a>*@
</body>